<!DOCTYPE html>
<html>
    <head>
        <title>Deneme Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12.14</time>
            <h2><a href="">My First post</a></h2>
            <p>İçerik Buraya Gelecek</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12.14</time>
            <h2><a href="">My Second Post</a></h2>
            <p>2. İçerik Buraya</p>
        </article>
    </body>
</html>